@keyframes lds-double-ring-l {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-webkit-keyframes lds-double-ring-l {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes lds-double-ring_reverse-l {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}
@-webkit-keyframes lds-double-ring_reverse-l {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}
.lds-double-ring-l {
    position: relative;
}
.lds-double-ring-l div {
    position: absolute;
    width: 160px;
    height: 160px;
    top: 20px;
    left: 20px;
    border-radius: 50%;
    border: 16px solid #000;
    border-color: #034904 transparent #034904 transparent;
    -webkit-animation: lds-double-ring-l 1.1s linear infinite;
    animation: lds-double-ring-l 1.1s linear infinite;
}
.lds-double-ring-l div:nth-child(2) {
    width: 124px;
    height: 124px;
    top: 38px;
    left: 38px;
    border-color: transparent #3ac811 transparent #3ac811;
    -webkit-animation: lds-double-ring_reverse-l 1.1s linear infinite;
    animation: lds-double-ring_reverse-l 1.1s linear infinite;
}
.lds-double-ring-l {
    width: 32px !important;
    height: 32px !important;
    -webkit-transform: translate(-16px, -16px) scale(0.16) translate(16px, 16px);
    transform: translate(-16px, -16px) scale(0.16) translate(16px, 16px);
}