.sprav1-grid-cell {
    padding: 4px !important;
}
.sprav1-grid-cell:hover {
    font-weight: bold;
    cursor: pointer;
    background: #828b93;
    font-size: 1.1rem;
    color: #ffffff;;
    padding: 1px !important;
}


.sprav1-grid-empty-col {
    background: #ffffff;
}

.sprav1-header {
    height: 24px;
}
.sprav1-grid-cell-pad {
    padding: 4px !important;
}
.sprav1-grid-name-col {
    font-size: 0.8rem;
}
.sprav1-grid-header-font {
    font-size: 0.7rem;
    padding-left: 3px !important;
    padding-right: 3px !important;
    color: #040404;
}
.sprav1-grid-end-group1 {
    background: #ced6bb;
}
.sprav1-grid-end-group2 {
    background: #97b08c;
}
.sprav1-grid-end-group3 {
    background: #bfdbb0;
}
.sprav1-grid-end {
    background: #8b937d;
}
.test1 {
    background: #93302e;
}

.sprav1-grid-begin {
    background: #dce6b0;
}


.find-vagon-container {
    background: #e9f3bc;
    padding: 15px 25px !important;

}
.grid-find-vagon {
    background: #dce6b0;
}

.grid-find-vagon-cell-font-sm {
    font-size: 0.73rem;
}
.grid-find-vagon-cell {
    padding: 3px 3px 3px 3px  !important;
    text-align: center;
}
.grid-find-vagon-cell-left {
    padding: 3px 3px 3px 3px  !important;
    text-align: left;
}

.grid-find-vagon-header-font {
    font-size: 1em;
    font-weight: normal;
    background: #b7c092;

}
.grid-find-vagon-header-sm
{
    width: 25px;
}
.grid-find-vagon-header-sm2
{
    width: 45px;
}
.grid-find-vagon-header-md
{
    width: 70px;
}
.grid-find-vagon-header-lg
{
    width: 140px;
}
.find-vagon-header {
    height: 24px;
}