.find-vagon-container {
    background: #e9f3bc;
    padding: 15px 25px !important;

}
.grid-find-vagon {
    background: #dce6b0;
}

.grid-find-vagon-cell-font-sm {
    font-size: 0.73rem;
}
.grid-find-vagon-cell {
    padding: 3px 3px 3px 3px  !important;
    text-align: center;
}
.grid-find-vagon-cell-left {
    padding: 3px 3px 3px 3px  !important;
    text-align: left;
}

.grid-find-vagon-header-font {
    font-size: 1em;
    font-weight: normal;
}
.grid-find-vagon-header-sm
{
    width: 25px;
}
.grid-find-vagon-header-sm2
{
    width: 45px;
}
.grid-find-vagon-header-md
{
    width: 70px;
}
.grid-find-vagon-header-lg
{
    width: 140px;
}
.find-vagon-header {
    height: 24px;
}