body { padding-top: 5.2rem; }
@media screen and (max-width: 768px) {
    body {
        padding-top: 5.8rem;
    }
    #spravka1-header {
        display: none;
    }
}
#Intro {
    position: fixed;
    width: 100%;
    z-index: 10;
}
.pageHeaderNavBarVisible {
    top: 2.5rem;
}
.pageHeaderNavBarNonVisible {
    top: 0;
}

.active {
    visibility: visible;
}
.hidden {
    visibility: hidden;
}

.gruz-bg-header-one {
    background: #c5d9c6;
}
.gruz-bg-header-two {
    background: #d4d3d2;
}
.gruz-bg-header-3 {
    background: #f8f9fa;
}

.gruz-bg-1 {
    background: #e3e6da;
}
.gruz-bg-2 {
    background: #eff8d4;
}
.gruz-bg-3 {
    background: #b7c092;
}
.gruz-bg-4 {
    background: #f3f3ed;
}

.gruz-bg-5 {
    background: #ced6bb;
}
.gruz-bg-6 {
    background: #97b08c;
}
.gruz-bg-7 {
    background: #bfdbb0;
}

.gruz-font-normal {
    font-weight: normal;
}
.gruz-font-bold {
    font-weight: bold;
}
.gruz-font-60 {
    font-size: 0.60rem;
}
.gruz-font-70 {
    font-size: 0.70rem;
}
.gruz-font-80 {
    font-size: 0.80rem;
}
.gruz-font-90 {
    font-size: 0.90rem;
}
.gruz-font-110 {
    font-size: 1.1rem;
}
.gruz-text-ls {
    letter-spacing: 0.1rem;
}
.gruz-text-ls-sm {
    letter-spacing: 0.07rem;
}
.gruz-button-row {
    height: 3rem;
}

.gruz-header-height {
     height: 2.4rem;
 }
.gruz-button-col:hover {
    cursor: pointer;
    background: #828b93;
    color: #ffffff;
}
.gruz-button {
    cursor: pointer;
    color: #9b9b9b;

}

.gruz-button-selected {
    cursor: pointer;
    font-weight: bold;
    border-width: .1rem;
    border-bottom-style: solid;
    border-bottom-color: #c82333;
    color: #000000;
}


.gruz-grid-cell:hover {
    font-weight: bold;
    cursor: pointer;
    background: #828b93;
    color: #ffffff;;
}

.gruz-verticalText {
    writing-mode: vertical-rl;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: bt-rl;
}
.clip {
    width:27px;
    white-space: nowrap; /* Запрещаем перенос строк */
    overflow: hidden; /* Обрезаем все, что не помещается в область */
    padding: 0; /* Поля вокруг текста */
    text-overflow: clip; /* Добавляем многоточие */
}