body { padding-top: 3.7rem; }
@media screen and (max-width: 768px) {
    body {
        padding-top: 3.7rem;
    }
}

.gruz-bg-header-one {
    background: #c5d9c6;
}
.gruz-bg-header-two {
    background: #b7c092;
}
.gruz-bg-header-3 {
    background: #c9e2a7;
}

.gruz-bg-1 {
    background: #dce6b0;
}
.gruz-bg-2 {
    background: #eff8d4;
}
.gruz-bg-3 {
    background: #b7c092;
}
.gruz-bg-4 {
    background: #e9f3bc;
}

.gruz-font-normal {
    font-weight: normal;
}
.gruz-font-bold {
    font-weight: bold;
}
.gruz-font-70 {
    font-size: 0.70rem;
}
.gruz-font-80 {
    font-size: 0.80rem;
}
.gruz-font-90 {
    font-size: 0.90rem;
}
.gruz-button-row {
    height: 3rem;
}
.gruz-button-col {
    height: 80px;
}
.gruz-header-height {
     height: 2.4rem;
 }
.gruz-button-col:hover {
    cursor: pointer;
    background: #828b93;
    color: #ffffff;
}
