
.bd-table {
margin: 1.5rem;
}
.grid-top-header {
  font-size: 0.9rem;
  font-weight: bold;

}
.grid-header-font {
  font-size: 0.7rem;
}
.grid-font {
  font-size: 0.9rem;
}
.grid-cell-pad {
  padding: 4px !important;
}
.grid-cell {
  padding: 4px !important;
}
.grid-cell-selected {
  background: #fd0d09;
}
.grid-cell:hover {
  font-weight: bold;
  cursor: pointer;
  background: #034904;
  font-size: 1.1rem;
  color: #ffffff;;
  padding: 1px !important;
}

.grid-name-col {
  font-size: 0.8rem;
  font-weight: bold;
}
.grid-end-col {
  background: #3ac811;
}
.grid-end-group1 {
  background: #d8d703;

}
.grid-end-group2 {
  background: #a8d80d;
}
.grid-end-group3 {
  background: #d8a80b;
}
.grid-empty-col {
  background: #f6f6f6;
}
.rowClass {
  padding:3px;
}
.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

